# API Framework
fastapi==0.116.1
uvicorn==0.35.0    # ASGI server to run FastAPI

# Data & ML
numpy==2.3.2
pandas==2.3.2
scikit-learn==1.7.1
xgboost==3.0.4     # remove if not using XGBoost

# Optional (only for development/EDA)
matplotlib==3.10.5
seaborn==0.13.2

# Validation
pydantic==2.11.7   # for request/response schemas
